{% extends "layout.html" %} {% block title %}All Feeds{% endblock title %} {% block content %}

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS FilterParameter</h4>
        <h6 class="text-muted">RSS 过滤Parameter<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/filter?feed=https://sspai.com/feed&include_title=派早报" target="_blank">https://rss-panda1.vercel.app/filter?feed=https://sspai.com/feed&include_title=派早报</a></p>
        <p class="card-text">Parameter：<code>include_title</code> 匹配标题</p>
        <p class="card-text">Parameter：<code>include_description</code> 匹配摘要</p>
        <p class="card-text">Parameter：<code>exclude_title</code> 排除标题</p>
        <p class="card-text">Parameter：<code>exclude_description</code> 排除摘要</p>
        <p class="card-text">Parameter：<code>limit</code> 限制条数</p>
        
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS 代理</h4>
        <h6 class="text-muted">RSS 代理 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/filter?feed=https://sspai.com/feed" target="_blank">https://rss-panda1.vercel.app/filter?feed=https://sspai.com/feed</a></p>
        <p class="card-text">Routing：<code>/filter?feed=:feed</code></p>
        <p class="card-text">Parameter：feed [rss 地址]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">The world in brief - The Economist</h4>
        <h6 class="text-muted">World Brief <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/economist/worldbrief" target="_blank">https://rss-panda1.vercel.app/economist/worldbrief</a></p>
        <p class="card-text">Routing：<code>/economist/worldbrief</code></p>
    </div>
</div>
<br>
<!--item info end-->

<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">传送门-失效</h4>
        <h6 class="text-muted">文章 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/chuansongme/articles" target="_blank">https://rss-panda1.vercel.app/chuansongme/articles</a></p>
        <p class="card-text">Routing：<code>/chuansongme/articles/:category</code></p>
        <p class="card-text">Parameter：category [默认为“最新”]</p>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    {% for th in ['精选','区块链','汽车','创意科技','媒体达人','电影音乐','娱乐休闲','生活旅行','学习工具','历史读书','金融理财','美食菜谱'] %}
                    <th>{{th}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for td in ['select', 'blockchain', 'auto', 'ideatech', 'newsmedia', 'moviemusic', 'fun', 'lifejourney', 'utility', 'hisbook', 'finance', 'food']%}
                    <td>{{td}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">CTOLib-失效</h4>
        <h6 class="text-muted">话题 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/ctolib/topics" target="_blank">https://rss-panda1.vercel.app/ctolib/topics</a></p>
        <p class="card-text">Routing：<code>/ctolib/topics/:category</code></p>
        <p class="card-text">Parameter：category [默认为“默认排序”]</p>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    {% for th in ['最新发布', '优质主题'] %}
                    <th>{{th}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for td in ['last', 'popular']%}
                    <td>{{td}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">InfoQ</h4>
        <h6 class="text-muted">推荐内容 <a href="https://github.com/alphardex" target="_blank" class="badge badge-secondary">by alphardex hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/infoq/recommend" target="_blank">https://rss-panda1.vercel.app/infoq/recommend</a></p>
        <p class="card-text">Routing：<code>/infoq/recommend</code></p>

        <h6 class="text-muted">主题内容 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/infoq/topic/159" target="_blank">https://rss-panda1.vercel.app/infoq/topic/159</a></p>
        <p class="card-text">Routing：<code>/infoq/topic/:category</code></p>
    </div>
</div>
<br>
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">巨潮资讯</h4>
        <h6 class="text-muted">公司公告 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/cninfo/announcement/all/gqjl" target="_blank">https://rss-panda1.vercel.app/cninfo/announcement/all/gqjl</a></p>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/cninfo/announcement/all/gqbd_预披露" target="_blank">https://rss-panda1.vercel.app/cninfo/announcement/all/gqbd_预披露</a>，股权变动类公告中标题含有「预披露」的公告</p>
        <p class="card-text">Routing：<code>/cninfo/announcement/:stock_id/:category</code></p>
    </div>
</div>
<br>
<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">东兴资管</h4>
        <h6 class="text-muted">产品公告 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/dxzg/notice" target="_blank">https://rss-panda1.vercel.app/dxzg/notice</a></p>
        <p class="card-text">Routing：<code>/dxzg/notice</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">Earnings Date</h4>
        <h6 class="text-muted">Earnings Date <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/earningsdate/businesswire" target="_blank">https://rss-panda1.vercel.app/earningsdate/businesswire</a></p>
        <p class="card-text">Routing：<code>/earningsdate/:category</code></p>
        <p class="card-text">Parameter：category [必填，可以为“businesswire、globenewswire、prnewswire”]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">界面快讯</h4>
        <h6 class="text-muted">界面快讯 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/jiemian/newsflash/166" target="_blank">https://rss-panda1.vercel.app/jiemian/newsflash/166</a></p>
        <p class="card-text">Routing：<code>/jiemian/newsflash/:category</code></p>
        <p class="card-text">Parameter：category [必填，见界面快讯栏目https://www.jiemian.com/lists/4.html]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">证监会审核进度</h4>
        <h6 class="text-muted">证监会审核进度 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/csrc/audit/a1d50077cd7f4b15bd1c8d6163f32850" target="_blank">https://rss-panda1.vercel.app/csrc/audit/a1d50077cd7f4b15bd1c8d6163f32850</a></p>
        <p class="card-text">Routing：<code>/csrc/audit/:category</code></p>
        <p class="card-text">Parameter：category [必填，见证监会栏目 https://neris.csrc.gov.cn/alappl/home/gongshi]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">财新网滚动新闻</h4>
        <h6 class="text-muted">财新网滚动新闻 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/caixin/scroll/125" target="_blank">https://rss-panda1.vercel.app/caixin/scroll/125</a></p>
        <p class="card-text">Routing：<code>/caixin/scroll/:category</code></p>
        <p class="card-text">Parameter：category [必填，见财新网滚动频道 http://www.caixin.com/search/scroll/0.jsp]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">东方财富网行业/个股研报</h4>
        <h6 class="text-muted">东方财富网行业/个股研报 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/eastmoney/report/stock/473" target="_blank">https://rss-panda1.vercel.app/eastmoney/report/stock/473</a></p>
        <p class="card-text">Routing：<code>/eastmoney/report/:type/:category</code></p>
        <p class="card-text">Parameter：type, category [必填，见东方财富网研报频道 ]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">选股宝板块/主题动态</h4>
        <h6 class="text-muted">选股宝板块/主题动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/xuangubao/theme/17006066" target="_blank">https://rss-panda1.vercel.app/xuangubao/theme/17006066</a></p>
        <p class="card-text">Routing：<code>/xuangubao/:type/:category</code></p>
        <p class="card-text">Parameter：type = theme|subject， category [必填，板块/主题ID]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">财联社主题动态</h4>
        <h6 class="text-muted">财联社主题动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/cls/subject/1345" target="_blank">https://rss-panda1.vercel.app/cls/subject/1345</a></p>
        <p class="card-text">Routing：<code>/cls/subject/:category</code></p>
        <p class="card-text">Parameter：category [必填，见财联社APP主题栏目]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">财联社电报</h4>
        <h6 class="text-muted">财联社电报 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/cls/telegraph" target="_blank">https://rss-panda1.vercel.app/cls/telegraph</a></p>
        <p class="card-text">Routing：<code>/cls/telegraph</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">链得得栏目动态</h4>
        <h6 class="text-muted">链得得栏目动态 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/chaindd/column/3158465" target="_blank">https://rss-panda1.vercel.app/chaindd/column/3158465</a></p>
        <p class="card-text">Routing：<code>/chaindd/column/:category</code></p>
        <p class="card-text">Parameter：category [必填，见链得得栏目url中的数字编号]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">早报网 即时新闻文章列表</h4>
        <h6 class="text-muted">早报网 即时新闻文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/zaobao/realtime/china" target="_blank">https://rss-panda1.vercel.app/zaobao/realtime/china</a></p>
        <p class="card-text">Routing：<code>/zaobao/realtime/:category</code></p>
        <p class="card-text">Parameter：category [必填，见 早报网 官网]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">Techcrunch tag文章列表</h4>
        <h6 class="text-muted">Techcrunch tag文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/techcrunch/tag/216504" target="_blank">https://rss-panda1.vercel.app/techcrunch/tag/216504</a></p>
        <p class="card-text">Routing：<code>/techcrunch/tag/:category</code></p>
        <p class="card-text">Parameter：category [必填，见 techcrunch 官网]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">未央网-首页</h4>
        <h6 class="text-muted">未央网-首页 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/weiyangx/home/" target="_blank">https://rss-panda1.vercel.app/weiyangx/home/</a></p>
        <p class="card-text">Routing：<code>/weiyangx/home/</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">未央网-国际快讯</h4>
        <h6 class="text-muted">未央网-国际快讯 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/weiyangx/express/" target="_blank">https://rss-panda1.vercel.app/weiyangx/express/</a></p>
        <p class="card-text">Routing：<code>/weiyangx/express/</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">扬帆出海-快讯</h4>
        <h6 class="text-muted">扬帆出海-快讯 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/yfchuhai/express/" target="_blank">https://rss-panda1.vercel.app/yfchuhai/express/</a></p>
        <p class="card-text">Routing：<code>/yfchuhai/express/</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">未央网 tag文章列表</h4>
        <h6 class="text-muted">未央网 tag文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/weiyangx/tag/金融科技" target="_blank">https://rss-panda1.vercel.app/weiyangx/tag/金融科技</a></p>
        <p class="card-text">Routing：<code>/weiyangx/tag/:category</code></p>
        <p class="card-text">Parameter：category [必填，见 weiyangx 官网]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">今天看啥专栏文章列表</h4>
        <h6 class="text-muted">今天看啥专栏文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/jintiankansha/column/KgkNwnDrsy" target="_blank">https://rss-panda1.vercel.app/jintiankansha/column/KgkNwnDrsy</a></p>
        <p class="card-text">Routing：<code>/jintiankansha/column/:category</code></p>
        <p class="card-text">Parameter：category [必填，见 jintiankansha.me] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">产品公告 - 机构间市场</h4>
        <h6 class="text-muted">产品公告 - 机构间市场 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/interotc/cpgg/东兴证券" target="_blank">https://rss-panda1.vercel.app/interotc/cpgg/东兴证券</a></p>
        <p class="card-text">Routing：<code>/interotc/cpgg/:category</code></p>
        <p class="card-text">Parameter：category [必填，标题中的关键词] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">股票评级 - Benzinga</h4>
        <h6 class="text-muted">股票评级 - Benzinga <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/benzinga/ratings/wb" target="_blank">https://rss-panda1.vercel.app/benzinga/ratings/wb</a></p>
        <p class="card-text">Routing：<code>/benzinga/ratings/:category</code></p>
        <p class="card-text">Parameter：category [必填， 股票代码] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">抽屉新热榜 - 用户</h4>
        <h6 class="text-muted">抽屉新热榜 - 用户 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/chouti/user/wb_5517143496" target="_blank">https://rss-panda1.vercel.app/chouti/user/wb_5517143496</a></p>
        <p class="card-text">Routing：<code>/chouti/user/:category</code></p>
        <p class="card-text">Parameter：category [必填， 用户id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">抽屉新热榜 - 话题</h4>
        <h6 class="text-muted">抽屉新热榜 - 话题 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/chouti/section/1116" target="_blank">https://rss-panda1.vercel.app/chouti/section/1116</a></p>
        <p class="card-text">Routing：<code>/chouti/section/:category</code></p>
        <p class="card-text">Parameter：category [必填， 话题id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">抽屉新热榜 - 搜索</h4>
        <h6 class="text-muted">抽屉新热榜 - 搜索 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/chouti/search/China" target="_blank">https://rss-panda1.vercel.app/chouti/search/China</a></p>
        <p class="card-text">Routing：<code>/chouti/search/:category</code></p>
        <p class="card-text">Parameter：category [必填， 搜索关键词] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">微信公众号 - 标签文章列表</h4>
        <h6 class="text-muted">微信公众号 - 标签文章列表 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/mp/tag/MzI5MjM3OTA0MA/1500461858015772673" target="_blank">https://rss-panda1.vercel.app/mp/tag/MzI5MjM3OTA0MA/1500461858015772673</a></p>
        <p class="card-text">Routing：<code>/mp/tag/:biz/:tag</code></p>
        <p class="card-text">biz [必填， 公众号id]，tag，[必填， 标签 id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">Producthunt -  搜索结果</h4>
        <h6 class="text-muted">Producthunt -  搜索结果 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/producthunt/search/wechat/30" target="_blank">https://rss-panda1.vercel.app/producthunt/search/wechat/30</a></p>
        <p class="card-text">Routing：<code>/producthunt/search/:keyword/:period</code></p>
        <p class="card-text">keyword [必填，  搜索关键词]，period，[必填， 时间范围] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">蒲公英 - App 更新日志</h4>
        <h6 class="text-muted">蒲公英 - App 更新日志<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/pgyer/22bY" target="_blank">https://rss-panda1.vercel.app/pgyer/22bY</a></p>
        <p class="card-text">Routing：<code>/pgyer/:pageid</code></p>
        <p class="card-text">pageid [必填，  页面 id]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">新京报 - 频道</h4>
        <h6 class="text-muted">新京报 - 频道<a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/bjnews/beijing" target="_blank">https://rss-panda1.vercel.app/bjnews/beijing</a></p>
        <p class="card-text">Routing：<code>/bjnews/:channelid</code></p>
        <p class="card-text">channelid [必填， 频道 id]</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">微信公众号 - 最新文章 - 搜狗方案</h4>
        <h6 class="text-muted">微信公众号 - 最新文章 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/mp/gh/mao-talk" target="_blank">https://rss-panda1.vercel.app/mp/gh/mao-talk</a></p>
        <p class="card-text">Routing：<code>/mp/tag/:biz/:tag</code></p>
        <p class="card-text">gh [必填， 公众号id] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">微信公众号 - 最新文章 - 游无穷</h4>
        <h6 class="text-muted">微信公众号 - 最新文章 <a href="https://github.com/hillerliao" target="_blank" class="badge badge-secondary">by hillerliao</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/mp/youwuqiong/maoyouhuashuo" target="_blank">https://rss-panda1.vercel.app/mp/youwuqiong/maoyouhuashuo</a></p>
        <p class="card-text">Routing：<code>/mp/youwuqiong/:author</code></p>
        <p class="card-text">author [必填， 作者id，在 youwuqiong.com 文章列表页上找] </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Naver New Movies</h4>
        <h6 class="text-muted">RSS Naver New Movies <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/naver/newmovies" target="_blank">https://rss-panda1.vercel.app/naver/newmovies</a></p>
        <p class="card-text">Routing：<code>/naver/newmovies</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Naver New Series</h4>
        <h6 class="text-muted">RSS Naver New Series <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/naver/newmovies" target="_blank">https://rss-panda1.vercel.app/naver/broadcast</a></p>
        <p class="card-text">Routing：<code>/naver/broadcast</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS TVING New Movies</h4>
        <h6 class="text-muted">RSS TVING New Movies <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/tving/newmovies" target="_blank">https://rss-panda1.vercel.app/tving/newmovies</a></p>
        <p class="card-text">Routing：<code>/tving/newmovies</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS TVING New Series</h4>
        <h6 class="text-muted">RSS TVING New Series <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/tving/series" target="_blank">https://rss-panda1.vercel.app/tving/series</a></p>
        <p class="card-text">Routing：<code>/tving/series</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS TVING New Series 4K UHD</h4>
        <h6 class="text-muted">RSS TVING New Series 4K UHD <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/tving/series4k" target="_blank">https://rss-panda1.vercel.app/tving/series4k</a></p>
        <p class="card-text">Routing：<code>/tving/series4k</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS TVING New Movies 4K UHD</h4>
        <h6 class="text-muted">RSS TVING New Movies 4K UHD <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/tving/series4k" target="_blank">https://rss-panda1.vercel.app/tving/movies4k</a></p>
        <p class="card-text">Routing：<code>/tving/movies4k</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS TVING New Series - Entertainment</h4>
        <h6 class="text-muted">RSS TVING New Series - Entertainment <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/tving/entertainment" target="_blank">https://rss-panda1.vercel.app/tving/entertainment</a></p>
        <p class="card-text">Routing：<code>/tving/entertainment</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Seezn New Movies</h4>
        <h6 class="text-muted">RSS Seezn New Movies <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/seezn/contents/40288" target="_blank">https://rss-panda1.vercel.app/seezn/contents/40288</a></p>
        <p class="card-text">Routing：<code>/seezn/contents/:menuid</code></p>
        <p class="card-text">menuid: menuid of category, ex: 40288 (korean movie), 41119 (latest movie)</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Seezn New Series</h4>
        <h6 class="text-muted">RSS Seezn New Series <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/seezn/contents/48286" target="_blank">https://rss-panda1.vercel.app/seezn/contents/48286</a></p>
        <p class="card-text">Routing：<code>/seezn/contents/:menuid</code></p>
        <p class="card-text">menuid: menuid of category, ex: 48286 (latest contents)</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS KlikFilm New Movies</h4>
        <h6 class="text-muted">RSS KlikFilm New Movies <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/klikfilm/newmovies/33" target="_blank">https://rss-panda1.vercel.app/klikfilm/newmovies/33</a></p>
        <p class="card-text">Routing：<code>/klikfilm/newmovies/:section</code></p>
        <p class="card-text">section: sectionid in url </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Wavve New Series</h4>
        <h6 class="text-muted">RSS Wavve New Series <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/wavve/series/new" target="_blank">https://rss-panda1.vercel.app/wavve/series/new</a></p>
        <p class="card-text">Routing：<code>/wavve/series/new</code></p>
        <p class="card-text">order: sort by, ex: new, popularity </p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Wavve New Movies Plus</h4>
        <h6 class="text-muted">RSS Wavve New Movies Plus <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/wavve/series/new" target="_blank">https://rss-panda1.vercel.app/wavve/moviesplus</a></p>
        <p class="card-text">Routing：<code>/wavve/moviesplus</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS CoupangPlay New Contents</h4>
        <h6 class="text-muted">RSS CoupangPlay New Contents <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/coupangplay/contents" target="_blank">https://rss-panda1.vercel.app/coupangplay/contents</a></p>
        <p class="card-text">Routing：<code>coupangplay/contents</code></p>
        <p class="card-text">order: sort by ALL by default</p>
    </div>
</div>
<br>
<!--item info end-->


<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Kocowa New Contents</h4>
        <h6 class="text-muted">RSS Kocowa New Contents <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/kocowa/catalog/30" target="_blank">https://rss-panda1.vercel.app/kocowa/catalog/30</a></p>
        <p class="card-text">Routing：<code>/kocowa/catalog/:catalogId</code></p>
        <p class="card-text">catalogId: ex: 39 (New 24hrs), 30 (Drama), 31 (Variety), 32 (KPOP), 33 (Docu)</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Amazon New Korean Contents</h4>
        <h6 class="text-muted">RSS Amazon New Korean Contents <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/amazon/kcontents" target="_blank">https://rss-panda1.vercel.app/amazon/kcontents</a></p>
        <p class="card-text">Routing：<code>/amazon/kcontents</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS Netflix New Korean Contents</h4>
        <h6 class="text-muted">RSS Netflix New Korean Contents <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/netflix/korean" target="_blank">https://rss-panda1.vercel.app/netflix/korean</a></p>
        <p class="card-text">Routing：<code>/netflix/korean</code></p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS VIU New Titles</h4>
        <h6 class="text-muted">RSS VIU New Titles <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/viu/newtitles/sg/all" target="_blank">https://rss-panda1.vercel.app/viu/newtitles/sg/all</a></p>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/viu/newtitles/sg/kdrama" target="_blank">https://rss-panda1.vercel.app/viu/newtitles/sg/kdrama</a></p>
        <p class="card-text">Routing：<code>/viu/newtitles/:region/:category</code></p>
        <p class="card-text">region available: sg, hk, th, ph</p>
        <p class="card-text">category available: all, kdrama, kvariety, cdrama, cvariety, thdrama, asiandrama</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS VIU New Simulcast Titles</h4>
        <h6 class="text-muted">RSS VIU New Simulcast Titles <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/viu/simulcast/50" target="_blank">https://rss-panda1.vercel.app/viu/simulcast/50</a></p>
        <p class="card-text">Routing：<code>/viu/simulcast/:limit</code></p>
        <p class="card-text">limit the number: 10, 20, 50, 100</p>
    </div>
</div>
<br>
<!--item info end-->

<!--item info start-->
<div class="card text-left">
    <div class="card-body">
        <h4 class="card-title">RSS GenieTV New Contents</h4>
        <h6 class="text-muted">RSS GenieTV New Contents <a href="https://github.com/pandamoon21" target="_blank" class="badge badge-secondary">by pandamoon21</a></h6>
        <p class="card-text">Example：<a href="https://rss-panda1.vercel.app/genietv/contents/59182/regdate" target="_blank">https://rss-panda1.vercel.app/genietv/contents/59182/regdate</a></p>
        <p class="card-text">Routing：<code>genietv/contents/:menuid/:orderby</code></p>
        <p class="card-text">catalogId: menuid e.g.: 59182 (Korean Movie), 58533 (Latest Movie) | orderby: regdate, hot, title</p>
    </div>
</div>
<br>
<!--item info end-->

{% endblock content %}